<!doctype html>
<head>
  <title> MainPage </title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<div class="container">
    <h1 class="TopText">HomePage</h1>
  </div>
<div class="game-selection">
  <div class="tab">
      <button class="tablinks" onclick="openGame(event, 'WelcomeTab')" id="defaultOpen"> Welcome </button>
      <button class="tablinks" onclick="openGame(event, 'game1Tab')">game1</button>
      <button class="tablinks" onclick="openGame(event, 'game2Tab')">game2</button>
  </div>
<div id="WelcomeTab" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
  <br>
  <h2>Welcome {{username}} to the home page look around and have fun</h2>
  <h3>Make sure to come back!</h3>
</div>

<div id="game1Tab" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
  <br>
  <h2>Game1</h2>
  <a href="https://my-amazing-website.noobpower9000.repl.co/game1">Check this out</a>
</div>

<div id="game2Tab" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
  <br>
  <h2>game2</h2>
  <h3>Work in progress</h3>
</div>



<script>
function openGame(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
</div>
<body>

</body>