<!doctype html>
<head>
	<title>Welcome customer</title>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <area>
	<h1>Ilegal money.com</h1>
  </area>
	<p>
    Hello my name hashin I'm your great advisor today. Let me start with some cool tips.<br> List of 10 things to do to get rich:<br>
    <ul>
      <li>Steal</li>
      <li>Look in the lockers of a museum</li>
      <li>Pick up coins from the ground</li>
      <li>Become famous</li>
      <li>Scam people online by selling things and not bringing them</li>
      <li>Sell your parents organs</li>
      <li>Send money to my bank acount and il make it more for you</li>
      <li>Try to not eat and safe money with that</li>
      <li>Use ice instead of erco</li>
      <li>Or look further on how I became rich</li>
    </ul>
  </p>
  <p>
    Look to this video for some more tips that really worked!
  </p>
  <iframe width="240" height="135" src="https://www.youtube.com/embed/intFArwruto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <p>
		Theres some ilegale information here and I don't want you to get it.<br> <strong> But.... </strong><br>Theres something special I have for you instead<br> To help you, with your </br><strong> Little problem.... </strong>
  <h3> Look right here </h3>
    <a href="https://money.com/"> Click here for some juice</a> <br>
    <img src= "https://th.bing.com/th/id/R.4643bdcaed7b010686693f2d018f7f48?rik=LgtruO5GSu1VZQ&pid=ImgRaw&r=0" width= "200px">
	</p>
</body>