<!doctype html>
<head>
  <title> Regester & Login </title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<div class="container">
  <h1 class="TopText">Register</h1>
</div>

<body>
  <div class="Login: login">
  <form action="/HomePage/" method="post">
    <br>
    <h3>Sign in here</h3>
    <div>
      <label for="name">username:</label>
      <input type="text" id="username" name="username" placeholder="Username">
    </div>
  
    <div>
      <label for="password">password:</label>
      <input type="text" id="password" name="password" placeholder="Password">
    </div>
  
    <div>
      <input class="registerButton" type="submit" value="Make your acount" name="Acountmade">
    </div>
    <h3>Make sure you have a good password</h3><br>
    
  </div>
</body>
  </form>
   <div class="landscape">
    <div class="l_Background">
      <div class="l_hill hill1"></div>
      <div class="l_hill hill2"></div>
      <div class="l_hill hill3"></div>
      <div class="l_hill hill4"></div>
      <div class="l_hill hill5"></div>
      <div class="l_hill hill6"></div>
      <div class="l_hill hill7"></div>
      <div class="l_hill hill8"></div>
      <div class="l_hill hill9"></div>
      <div class="l_hill hill10"></div>
      <div class="l_hill hill11"></div>
      <div class="l_hill hill12"></div>
      <div class="l_hill hill13"></div>
      <div class="l_hill hill14"></div>
      <div class="l_hill hill15"></div>
      <div class="l_hill hill16"></div>
      <div class="river">
       <div class="watereffect"></div>
       <div class="watereffect1"></div>
       <div class="watereffect2"></div>
       <div class="watereffect3"></div>
       <div class="watereffect4"></div>
       
      </div>
    </div>
  </div>